/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Behavior Overrides

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    require-prior-idle-ms = <125>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  BSPC |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   =   |
            // | SHIFT |  A  |  S  |  D   | SFT F|  G   |                   |  H   | SFT J |  K    |  L   |   ;   |   '   |
            // |  CTRL |  Z  |  X  |  C   |  V   |  B   | SLCK   |  | DEL   |  N   |  M    |  ,    |  .   |   /   |   \   |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | trans | RAISE| GUI   | none  |

            display-name = "Base";
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3        &kp N4            &kp N5                                &kp N6  &kp N7            &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB           &kp Q   &kp W   &kp E         &kp R             &kp T                                 &kp Y   &kp U             &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_SHIFT    &kp A   &kp S   &kp D         &mt LEFT_SHIFT F  &kp G                                 &kp H   &mt LEFT_SHIFT J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C         &kp V             &kp B   &kp SCROLLLOCK    &kp DELETE  &kp N   &kp M             &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                  &kp LEFT_ALT  &kp LEFT_GUI      &mo 1   &kp SPACE         &trans      &mo 2   &kp RIGHT_GUI     &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | BTNXT |     |     |      |      |      |                   |      |       |       |   [  |   ]   |  F12  |
            // |       |     |     |      |      |CLG(G)|                   | HOME | PGDN  | PGUP  |  END |       |       |
            // |       |     |     |      |      |      |        |  |       |      |   -   |       |      |       |       |
            //                     |      |      |      |        |  | ENTER |      |       |       |

            display-name = "Lower";
            bindings = <
&kp GRAVE   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                               &kp F6    &kp F7         &kp F8       &kp F9            &kp F10            &kp F11
&bt BT_NXT  &trans  &trans  &trans  &trans  &trans                               &trans    &trans         &trans       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp F12
&trans      &trans  &trans  &trans  &trans  &kp LC(LG(G))                        &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END           &trans             &trans
&trans      &trans  &trans  &trans  &trans  &trans         &trans    &trans      &trans    &kp MINUS      &trans       &trans            &trans             &trans
                            &trans  &trans  &trans         &trans    &kp RETURN  &trans    &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   ~   | MUTE| VOLD| VOLU | PLAY |      |                   |      |       |       |      |       |  F11  |
            // |       |     |     |      |      |      |                   |      |       |       |   {  |   }   |  F12  |
            // |       |     |     |      |      |      |                   |  <-  |   v   |   ^   |  ->  |       |       |
            // |       |     |     |      |      |      |        |  |       |      |   _   |       |      |       |       |
            //                     |      |      |      |SFT_RET |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&kp LS(GRAVE)  &kp K_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp K_PLAY_PAUSE  &trans                            &trans          &trans          &trans        &trans          &trans           &kp F11
&trans         &trans      &trans        &trans        &trans            &trans                            &trans          &trans          &trans        &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp F12
&trans         &trans      &trans        &trans        &trans            &trans                            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT       &trans           &trans
&trans         &trans      &trans        &trans        &trans            &trans  &trans            &trans  &trans          &kp UNDER       &trans        &trans          &trans           &trans
                                         &trans        &trans            &trans  &kp LS(RETURN)    &trans  &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
